@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-press-start: var(--font-press-start-2p);

  @keyframes glitch {
    0% {
      transform: translate(0);
      text-shadow: -2px 0 #ff00c1, 2px 0 #00fff9;
      clip-path: inset(50% 0 30% 0);
    }

    20% {
      transform: translate(-2px, 2px);
      text-shadow: 2px 0 #ff00c1, -2px 0 #00fff9;
      clip-path: inset(10% 0 80% 0);
    }

    40% {
      transform: translate(2px, -2px);
      text-shadow: -2px 0 #ff00c1, 2px 0 #00fff9;
      clip-path: inset(80% 0 5% 0);
    }

    60% {
      transform: translate(-2px, -2px);
      text-shadow: 2px 0 #ff00c1, -2px 0 #00fff9;
      clip-path: inset(40% 0 43% 0);
    }

    80% {
      transform: translate(2px, 2px);
      text-shadow: -2px 0 #ff00c1, 2px 0 #00fff9;
      clip-path: inset(15% 0 71% 0);
    }

    100% {
      transform: translate(0);
      text-shadow: 2px 0 #ff00c1, -2px 0 #00fff9;
      clip-path: inset(0 0 0 0);
    }
  }

  --animate-glitch: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite both;

  @keyframes scanline {
    0% {
      background-position: 0% 0%;
    }

    100% {
      background-position: 0% 100%;
    }
  }

  @keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      opacity: 1;
    }

    20%,
    24%,
    55% {
      opacity: 0.4;
    }
  }

  --animate-flicker: flicker 2.5s infinite;
}

.scanline {
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.1) 50%,
      rgba(255, 255, 255, 0.1));
  animation: scanline 8s linear infinite;
  background-size: 100% 3px;
  position: fixed;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}